/* Resetare stiluri de bază */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.containerFavorites {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.toast {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e74c3c;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: bold;
  animation: fadeInOut 3s ease-in-out forwards;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
  10% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}
