


.notificari-header-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40px;
    left: 50%;
    width: 450px;
    height: auto;
    background-color:transparent;
}

.custom-modal  {
    width: 700px;

}

.notificari-dialog {
    width: 600px;
}
  