* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #007d66;
  font-family: 'inter';
  position:sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 30px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.header-icons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}

.chat-icon {
  margin-right: 60px;
  cursor: pointer;
}

.chat-icon:hover {
   color: rgb(0, 64, 255);
}
 

.chat-span {
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 7px;
}

.heart-icon {
  margin-right: 60px;
  cursor: pointer;
}

.heart-icon:hover {
  color: red;
}

.notification-icon {
  margin-right: 60px;
  cursor: pointer;
}

.notification-icon:hover {
  color: rgb(18, 194, 252);
}

.my-account-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  cursor: pointer;
}

.my-account-icon:hover {
  color: aqua;
}

.account-span {
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 7px;
}



.header-btn {
  width: 180px;
  height: 40px;
  margin:5px 50px;
  border-radius: 10px;
  background-color:#007d66 ;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.header-btn:hover {
  background-color:#ffffff ;
  color: #007d66;
  border:none;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header-icons {
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 25%;
  }

  .header-btn {
    width: 30%;
    height: 50%;
    margin-right: 50px;
  }
}
