.wrapper {
    margin: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .subtitle {
    font-size: 2.2rem;
    font-weight: 700;
    color: #007bff;
    margin-bottom: 15px;
    text-align: center;
  }

  .loading {
    color: #007bff;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  
  .noAdsMessage {
    font-size: 1.2rem;
    color: #555;
    margin: 20px 0;
  }

  .error {
  color: #ff4d4f;
  font-size: 1rem;
  margin-bottom: 20px;
}
  
  .filters {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .select {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
  }
  
  .autocompleteButton {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    text-align: center;
  }
  
  .autocompleteButton:hover {
    background-color: #0056b3;
  }
  
  .autocompleteButton:focus {
    outline: none;
  }
  
  .autocompleteButton + .autocompleteButton {
    margin-left: 10px;
  }
  
  .autocompletare {
    margin-top: 10px;
    padding: 5px 0;
    border-radius: 4px;
  }
  
  .autocompletare ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .autocompletare li {
    padding: 8px;
    cursor: pointer;
  }
  
  .autocompletare li:hover {
    background-color: #f0f0f0;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  /* ... Stilurile existente ... */


.searchButton {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px; 
  text-align: center;
}

.searchButton:hover {
  background-color: #0056b3;
}

.searchButton:focus {
  outline: none;
}


  .pageButton {
    padding: 8px 16px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .pageButton:hover {
    background-color: #ddd;
  }
  
  .pageButtonActive {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
  }
  
  .pageButton:focus {
    outline: none;
  }
  
  .noAdsMessage {
    font-size: 1.2rem;
    color: #555;
    text-align: center;
    margin: 20px 0;
  }

  .filters {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
  }