

.account-header-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40px;
    left: 70%;
    width: 250px;
    height: 600px;
 
    border: none;
  }

  .custom-modal {
    width: 250px;
    height: auto;
 
  }



  .account-modal-btn {
    width: 100px;
    margin: 20px 75px 5px  ;
    border-radius: 5px;
    background-color:#013c40 ;
    color: white;
    overflow: hidden;
  }