.account-header-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 32px;
  left: 70%;
  width: auto;

  height: auto;
  width: auto;
  border: none;
}

.account-header-modal {
  width: 300px;
  height: 600px;
}

.account-modal-btn {
  width: 100px;
  margin: 5px 35%;
  background-color:#013c40;
}
