

.autocompletareContainer {
    position: relative;

  }
  
  .autocompletareInput {
    width:500px;
    height: 60px;
    padding: 20px;
    background-color:#fff ;
    border-radius:5px;
    border: 1px solid #007BFF;
    color: #000;
    font-size: 1.2rem;
    font-style: oblique;
  }

  .autocompletareInput:hover {
    background-color: #007bff;
    color: #fff;
  }

  .autocompletareInput::placeholder{
    color: #000;
  }

  
  .autocompletareDropdown {
    position: absolute;
    background-color: #007BFF;
    width: 500px;
    margin-top: 1px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #007BFF;
    border-radius: 5px;
    list-style: none;
    z-index: 10;
    color: #fff;
    padding: 0;
    margin: 0;
    font-style: oblique;
    
  }
  
  .dropdownItem {
    padding: 10px;
    cursor: pointer;
   
    font-style: oblique;
  }
  
  .dropdownItem:hover {
    background-color: #FFA726;
  }
  
  