* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: autopx;
  background-color:#4bdec0;
  font-family: 'inter';
  box-shadow: 10px 25px 50px #060606;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 5px;
}

.input-group {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.input-text {
  width: 900px;
  height: 60px;
  border-radius: 15px;
  margin-right: 5px;
  border: none;
}

.input-city {
  width: 300px;
  height: 60px;
  border-radius: 15px;
  margin-right: 5px;
  border: none;
}

.search-btn {
  width: 120px;
  height: 60px;
  border-radius: 15px;
  color: #7d7d7d;
  border: none;
}

.search-icon {
  font-size: 1.5rem;
}

.input-text,
.input-city {
  padding-left: 20px;
}
