
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Inter', sans-serif;

}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

}

.inputGroup {
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 5px; 
  margin: 0px 100px 0 100px;

}

.searchBtn {
  width: 300px;
  height: 60px;
  font-size: 1.3rem;
  background-color:#007BFF;
  border-radius:5px;
  color: #000f;
  border: 2px solid #007BFF;
  font-style: oblique;
}

.searchBtn:hover {
  background-color: #0056b3;
  border: 2px solid #007BFF;
  color:#fff ;
}

.searchIcon {
  font-size: 1.3rem;
  margin-left: 15px;
}


@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .inputGroup {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    margin: 10px 0;
  }

  .inputText,
  .inputCity {
    width: 100%;
    margin-bottom: 15px;
  }

  .searchBtn {
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .searchIcon {
    font-size: 1.25rem;
  }
}

/* Stiluri pentru tablete și ecrane medii */
@media (min-width: 601px) and (max-width: 1024px) {
  .navbar {
    flex-direction: column;
  }

  .inputGroup {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    margin: 10px 0;
  }

  .inputText,
  .inputCity {
    width: 100%;
    margin-bottom: 15px;
  }

  .searchBtn {
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}
