* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

.for-title {
  background-color: #fff;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 50px 0 40px 0;
}

.cards-title {
  font-weight: 500;
  color: #4e4e4e;
  font-size: 2.5rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  gap: 20px;
  padding: 50px 100px;
  overflow: hidden;
  background-color: #fff;
}

@media (max-width: 1200) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
  }
}

@media (max-width: 990) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
  }
}

@media (max-width: 600) {
  .cards-container {
    grid-template-columns: repeat(1fr);
    padding: 0 20px;
    
  }
}

.container-card {
  height: auto;
  border:1px solid #aeaeae;
  border-radius: 10px;
  box-shadow: 15px 25px 15px #c2c2c2fd;
  min-height: 350px;
  margin-bottom: 20px;
  background-color: #fff;
}


.card-img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 60%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  
}

.card-title {
  margin: 5px 0 0 110px;
  font-weight: 100;
  font-size:1.2rem ;
}

.card-icon-heart {
  margin: 5px 0 0 140px;
  color: #32ff04;
}

.card-para {
  font-size: 0.7rem;
  margin: 5px 10px 5px 10px;
}
